[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "corona"]
	path = corona
	url = https://github.com/jvanschalkwyk/corona
	shallow = true
	registered = true
